/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

/* navbar color */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* display background dark color on navbar scroll */
.navbarScroll {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.navbarScroll.navbarDark {
    background-color: #07052C;
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    width: 100%;
    background: url("images/image1.webp");
    background-size: cover;
    position: relative;
    background-color: #07052C;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about */
.imageAboutPage {
    width: 100%;
}
.imageAboutPage {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* skills */
.skillsText.card {
    height: 350px;
    cursor: pointer;
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* portfolio */
#portfolio .card {
    height: 360px;
}
#portfolio img {
    height: 140px;
    object-fit: scale-down;
}
#portfolio .card-body {
    display: flex;
    flex-direction: column;
}
#portfolio p {
    text-align: center;
}
#portfolio .text-center {
    margin-top: auto;
}


/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}
#contact h3 a {
  color: inherit;
  text-decoration: none;
}
#contact h3 a:hover {
  text-decoration: underline;
}



/* footer */
